header{
    border : red 2px solid;
    height : 25%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    border : black 2px solid;
    height : 70%;
    text-align: center;
    font-size: 80px;
    margin : 0;
    display : flex;
    justify-content: flex-end;
    flex-direction : column;
    align-items: center;
}

.caption{
    border : black 2px solid;   
    height : 30%;
    text-align: center;
    margin : 0;
    font-size: 22px;
}

body{
    border : black 2px solid;
    height : 100vh;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: space-evenly; */
    height : 75%;
    border : black 2px solid;
    padding : 0;
}

.card{
    border : black 2px solid;
    margin : 0;
    height : 80%;
    width : 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.carname{
    height : 20px;
    border : black 2px solid;
    margin : 4px;
    font-size: 20px;
}

#image1{
    height : 300px;
    border : black 2px solid;
    margin : 4px;
    width : 100%;
    margin-bottom: 0;
    background-image: url(/images/nexon.jpg);
    background-size: cover;
}

#image2{
    height : 300px;
    border : black 2px solid;
    margin : 4px;
    width : 100%;
    margin-bottom: 0;
    background-image: url(/images/rols_royce.jpg);
    background-size: cover;
}

#image3{
    height : 300px;
    border : black 2px solid;
    margin : 4px;
    width : 100%;
    margin-bottom: 0;
    background-image: url(/images/Tesla.jpg);
    background-size: cover;
}

.feature{
    height : 300px;
    border : black 2px solid;
    margin : 4px;
    margin-top: 0;
    width : 100%;
}

.but{
    height : 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

button{
    height : 40px;
    width : 150px;
    border-radius: 5px;
    background-color: red;
    color: white;
}
